@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  @apply bg-dark-background text-dark-primary-text;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

h6 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

ul, ol {
  margin: 0;
  padding: 0;
  margin-left:30px;
  list-style:auto;
}

li {
  margin-bottom: 0.5rem;
}

/* Links */
a {
  @apply text-dark-accent;
  text-decoration: none;
}
/* Forms */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

input[type="text"], input[type="email"], input[type="password"] {
  display: block;
}

textarea {
  resize: vertical;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css */
.modal {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Tailwind CSS classes for dark theme */
.bg-dark {
  background-color: #333333; /* black */
}

.text-light {
  color: #fff; /* gray */
}

.text-accent {
  color: #f76a59; /* blue */
}

.border-accent {
  border-color: #4eb29f; /* green */
}

.hover-accent:hover {
  background-color: #4eb29f; /* green */
}

/* comment */
.comment-container {
  background-color: #1a1a1a;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.reply-container {
  padding-left: 2rem;
  border-left: 2px solid #444;
}

.comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-header .nickname {
  font-weight: bold;
  color: #ffffff;
}

.comment-header .timestamp {
  font-size: 0.875rem;
  color: #888;
}

.comment-actions {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}
.ql-editor{
  background:#181818;
}
.ql-editor::before {
  color: white !important;
  font-style: italic;
}
